@model HocPhi.Models.BienLai

@{
    ViewBag.Title = "ThemBienLai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-11">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-lg-6" style="margin-left:250px;">

                <div class="card" style="background:#e9e9e9">
                    <div class="card-header">
                        <strong>Thêm Biên Lai</strong>

                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label for="inputEmail4">Mã Biên Lai </label>
                            @Html.EditorFor(model => model.MaBienLai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaBienLai, "", new { @class = "text-danger" })

                        </div>
                        @*<div class="form-group ">
            <label for="inputPassword4">Mã Hệ Học</label>
            @if (ViewBag.HeHoc_MHH != null)
            {
                @Html.DropDownListFor(model => model.HocSinh.HeHoc.MaHeHoc, ViewBag.HeHoc_MHH as SelectList, "---Chọn---", new { @class = "form-control MaHeHoc" })
               @Html.DropDownList(null, ViewBag.HeHoc_MHH as SelectList, "---Chọn---", new { @class = "form-control MaHeHoc" })

            }
            @Html.ValidationMessageFor(model => model.HocSinh.HeHoc.MaHeHoc, "", new { @class = "text-danger" })
        </div>*@

                        <div class="form-group ">
                            <label for="inputEmail4">Mã Học Sinh</label>
                            @Html.DropDownList("MaHocSinh", (IEnumerable<SelectListItem>)ViewBag.Ma_HS, "---Chọn---", new { @class = "form-control MaHocSinh" })
                            @*@Html.DropDownList("MaHocSinh", (IEnumerable<SelectListItem>)ViewBag.Ma_HS, "---Chọn---", new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.MaHocSinh, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group ">
            <label for="inputEmail4">Học Phí</label>
            @Html.EditorFor(model => model.HocSinh.HeHoc.HocPhi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HocSinh.HeHoc.HocPhi, "", new { @class = "text-danger" })
        </div>*@


                        <div class="form-group ">
                            <label for="inputPassword4">Người Nộp</label>
                            @Html.EditorFor(model => model.NguoiNop, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NguoiNop, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group ">
                            <label for="inputPassword4">Ngày Nộp</label>
                            @Html.TextBoxFor(model => model.NgayNop, new { type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NgayNop, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Tiền Ăn (1 ngày)</label>
                            @Html.TextBoxFor(m => m.TienAn, new { @Value = "50000", @readonly = "readonly", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TienAn, "", new { @class = "text-danger" })
                        </div>
                        <button style="float:right;" type="submit" class="btn btn-primary">Thêm</button>
                        @*<button id="abc" onchange="abc"> check </button>*@
                    </div>

                </div>
            </div>





        }


    </div>

</div>

<style>
    .form-group .form-control {
        padding-left: 7px;
    }
</style>
<script>
    //$(document).ready(function () {
    //    $(".MaHeHoc").change(function () {
    //        $.get("/Admin/Admin/GetStateListhehoc_hocsinh", { MaHocSinh: $(".MaHeHoc").val() }, function (data) {
    //            $(".MaHocSinh").empty();
    //            $.each(data, function (index, row) {
    //                $(".MaHocSinh").append("<option value='" + row.MaHocSinh + "'>" + row.TenHocSinh + "</option>")
    //            });
    //        });
    //    })
    //});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>